// app global css in SCSS form

body.body--light {
  background-color: $grey-1;
}

body.body--dark {
  background-color: darken($dark, 5);

  .q-header {
    background-color: $dark;
  }

  .q-footer {
    background-color: $dark;
  }
}

.q-drawer {
  background-color: $grey-2;
}

.q-drawer--dark {
  background-color: $dark;

  &.q-drawer--left.q-drawer--bordered {
    border-right-color: lighten($dark, 5);
  }
}

.life-block {
  line-height: 11px;
}

.month-block {
  width: 10px;
  height: 10px;
  border: solid 1px $primary;
  border-radius: 2px;
  display: inline-block;
  margin-right: 1px;
}

.month-block_active {
  background-color: $primary;
}

.month-block_current {
  background-color: $secondary;
  border: solid 1px $secondary;
}

.month-block_retire {
  background-color: $negative;
  border: solid 1px $negative;
}